html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* */

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    height: 80px;
    margin-bottom: 36px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

nav {
    padding: 16px 32px;
    background: #e4e4e4;
}

.barra-navegacion {
    display: flex;
    justify-content: space-evenly;
}

.barra-navegacion a {
    text-decoration: none;
    color: #000;
}

.barra-navegacion a:hover {
    color: #9e4dbb;
}

.product-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.product-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 24px;
    padding: 72px 24px 24px 24px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-container form input {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background: #eaeaea;
}

.product-container form .update {
    background: #62e06f;
    padding: 8px 16px;
    width: 32%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 16px;
}

.product-container form .update:hover {
    background: #4ca255;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 16px 24px;
    border-radius: 8px;
}

.product-card img {
    height: 200px;
    width: 200px;
    margin-bottom: 16px;
}

.product-card h2 {
    font-size: 22px;
    margin-bottom: 4px;
}

.product-card p {
    margin-top: 8px;
}

.product-card a {
    padding: 8px 16px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 16px;
}

.product-card .detail {
    background: #62b6e0;
}

.product-card .detail:hover {
    background: #4c97bd;
}

.product-card .edit {
    background: #62e06f;
}

.product-card .edit:hover {
    background: #4ca255;
}

.product-card .delete {
    background: #e06262;
}

.product-card .delete:hover {
    background: #b94b4b;
}

.product-card .home {
    background: #dde062;
}

.product-card .home:hover {
    background: #bdbf4f;
}
