html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------*/
<<<<<<< HEAD
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

=======
body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
>>>>>>> testing
a {
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px;
}

<<<<<<< HEAD
h2 {
    font-size: 16px;
=======
h2{
    font-size: 16px;    
>>>>>>> testing
    font-weight: bold;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 15px;
<<<<<<< HEAD
    background-color: #062ACD;
=======
    background-color: #062acd;
>>>>>>> testing
    gap: 15px;
    margin-bottom: 15px;
}

.nav a {
    color: #fff;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.productCard {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(178, 176, 176);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    gap: 5px;
<<<<<<< HEAD
    -webkit-box-shadow: 6px 6px 5px 0px rgba(128, 126, 128, 1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(128, 126, 128, 1);
    box-shadow: 6px 6px 5px 0px rgba(128, 126, 128, 1);
}

.formContainer {
=======
    -webkit-box-shadow: 6px 6px 5px 0px rgba(128,126,128,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(128,126,128,1);
    box-shadow: 6px 6px 5px 0px rgba(128,126,128,1);
}


.formContainer{
>>>>>>> testing
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    margin-top: 10px;
}

.formcategory {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

input {
    border-radius: 10px;
    padding: 5px;
}

select {
    border-radius: 10px;
    padding: 5px;
}
<<<<<<< HEAD

.containerBoton {
=======
.containerBoton{
>>>>>>> testing
    display: flex;
    justify-content: center;
    gap: 10px;
}

<<<<<<< HEAD
.boton {
    padding: 8px;
    background-color: #1239ff;
=======
.boton{
    padding: 8px;
    background-color:#1239ff;
>>>>>>> testing
    color: #fff;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 100px;
<<<<<<< HEAD
=======
    
>>>>>>> testing
}